:root {
  --bs-primary: #79dfc1;
  --bs-primary-rgb: 121, 223, 193;
  --bs-primary-hover: #20c997;
  --bs-primary-disabled: #d2f4ea;
  --bs-body-font-family: "Poppins", sans-serif;
}

.navbar {
  --bs-navbar-light-color: #fff;
}

.navbar-nav {
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #fff;
  --bs-navbar-active-color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: 600;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
}

@media (min-width: 768px) {
  .divideai-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divideai-section-form {
    width: 417px;
    border: 1px solid;
    border-radius: 16px;
    border-color: var(--bs-gray-300);
  }
}

.card-link {
  text-decoration: none;
}

.card-list {
  color: var(--bs-gray-600);
}

@media (min-width: 768px) {
  .main-container {
    width: 860px;
  }
}

.card-text-item span {
  color: var(--bs-gray-600);
}

.result {
  background-color: var(--bs-primary-disabled);
  border: 1px solid var(--bs-primary);
}

.card-split {
  width: 266px;
  margin: 0 !important;
  padding: 0 !important;
}
