:root {
    --bs-primary: #79DFC1;    
    --bs-primary-rgb:  121, 223, 193;
    --bs-primary-hover: #20C997;
    --bs-body-font-family: "Poppins", sans-serif;
}

.navbar {
    --bs-navbar-light-color: #fff;
}

.navbar-nav {
    --bs-nav-link-color: #fff;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
}

@media (min-width: 768px) {
    .divideai-section {
        height: 100%; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .divideai-section-form {
        width: 417px; 
        border: 1px solid; 
        border-radius: 16px; 
        border-color: var(--bs-gray-300);
    }
}

.card-link {
    text-decoration: none;
}

.card-list {
    color: var(--bs-gray-600);
}

@media (min-width: 768px) {
    .main-container {
        width: 860px
    }
}



